@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');

:root {
  --default-font-size: 1.6rem;
  --default-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --color-success: #2ecc71;
  --color-danger: #c0392b;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: var(--default-font-size);
  line-height: 1.7;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 3rem auto;
  width: 35rem;
}

h1 {
  letter-spacing: 1px;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 1rem;
  margin: 4rem 0 1rem;
}

h4 {
  text-transform: uppercase;
}

.income-expense-container {
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.income-expense-container > div {
  flex: 1;
  text-align: center;
}

.income-expense-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0.5rem 0;
}

.money.plus {
  color: var(--color-success);
}

.money.minus {
  color: var(--color-danger);
}

#form label {
  display: inline-block;
  margin: 1rem 0;
}

#form input[type='text'],
#form input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: var(--default-font-size);
  padding: 1rem;
  width: 100%;
}

.btn {
  background-color: #9c88ff;
  border: 1px solid #9c88ff;
  box-shadow: var(--default-font-size);
  color: #fff;
  display: block;
  font-size: var(--default-font-size);
  margin: 1rem 0 3rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
  cursor: pointer;

  transition: background-color 0.5s;
}

.btn:hover,
.btn:active {
  background-color: #826cee;
}

.btn-delete {
  background-color: #e74c3c;
  border: none;
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  cursor: pointer;
  opacity: 0;

  transition: opacity 0.3s ease;
}

.btn:focus,
.btn-delete:focus {
  outline: none;
}

.list {
  list-style-type: none;
  margin-bottom: 4rem;
}

.list li {
  background-color: #fff;
  box-shadow: var(--default-box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
}

.list li.plus {
  border-right: 5px solid var(--color-success);
}

.list li.minus {
  border-right: 5px solid var(--color-danger);
}

.list li:hover .btn-delete {
  opacity: 1;
}
